*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'roboto', sans-serif;
}
.navbar{
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    background:#EEEBEC;
}
.nav{
    padding: 10px 10vw;
    display: flex;  
    justify-content: space-between;
}
.logo{


}
.links-container{
    display: flex;
    padding: 25px ;
    justify-content: center;
    list-style: none;
}
.link{
    text-transform: capitalize;
    padding: 0 30px;
    text-decoration: none;
    color:black;
    opacity: 0.5;
    transition: 0.3s;
}
.link:hover{
    opacity: 8;
    color:yellowgreen;
}
.content img{
    width: 1520px;
    display: block;
    /* height: 600px; */
    position: absolute;

}
.content a{
    background: url(icons.png) no-repeat 0 -140px;
	color: white;
	font-family: quicksand-bold-webfont;
	font-size: 25px;
	height: 200px;
	line-height: 25px;
	padding: 50px 10px;
	position: absolute;
	right: 200px;
	text-align: center;
	text-transform: uppercase;
	top: 300px;
	width: 160px;
}    
    
   