*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'roboto', sans-serif;
}
body{
 overflow-x: hidden;
}
.navbar{
    position: fixed;
    top: 0;
    /* left: 0; */
    width: 100%;
    background:#EEEBEC;
    overflow: hidden;
}
.logo{
    margin-top: 2rem;
    margin-left: 20rem;
}
.links-container{
    display: flex;
    justify-content: center;
    list-style: none;
    padding-bottom:30px;
}
.link{
    text-transform: capitalize;
    padding:40px;
    text-decoration: none;
    color:black;
    opacity: 0.5;
    transition: 0.3s;
}
.link:hover{
    opacity: 8;
    color:yellowgreen;
}
.content img{
    width: 100vw;
    display: block;
}
.content a{
    background: url(images/icons.png) no-repeat 0 -140px;
	color: white;
	font-family: quicksand-bold-webfont;
	font-size: 25px;
	line-height: 25px;
	padding: 40px 40px;
	position: absolute;
	right: 310px;
	text-align: center;
	text-transform: uppercase;
	top: 690px;
    width: 160px;
    height:140px;
}    
.product{
    background-color: #eae7e8;
	margin: 0;
	max-width: none;
	padding: 0;
    width: 100%;

}
.product img{
    

}
.product h1{
    color: brown;
	display: block;
	font-family: lato-bold-webfont;
	font-size: 20px;
	font-weight: normal;
	padding: 50px 0 20px;
	text-align: left;
    text-transform: uppercase;
} 
   