*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'roboto', sans-serif;
}
body{
 overflow-x: hidden;
}
.navbar{
    position: fixed;
    top: 0;
    /* left: 0; */
    width: 100%;
    background:#EEEBEC;
    overflow: hidden;  
}
.logo{
    margin-top: 2rem;
    margin-left: 20rem;
}
.links-container{
    display: flex;
    justify-content: center;
    list-style: none;
    padding-bottom:30px;
}
.link{
    text-transform: capitalize;
    padding:40px;
    text-decoration: none;
    color:black;
    opacity: 0.5;
    transition: 0.3s;
}
.link:hover{
    opacity: 8;
    color:yellowgreen;
}
